section {
    text-align: justify !important;

}

p {
    text-align: left !important;
}


@media(max-width:768px){
    strong {
        font-size: 20px;
    }
    .kontak {
        font-size: 15px;
    }
    
}