.shop {
    margin-top: 200px;
}
.card {
    text-align: center !important;
}
.link a{
    margin: 0 10px;
}
.img-shop {
    margin-top: 160px;
    padding: 0 30px 0;
}
.card-body {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -1px 10px 23px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 23px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 23px -9px rgba(0, 0, 0, 0.75);

}
.img-shop:hover {
    cursor: pointer;
   transform:scale(1.25) ;
   transition: 0.6s;
}
.card-body:hover {
    background-color: white;
    transition: 0.2s;
}
.judul {
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
}
.judul:hover{
    border-bottom: 3px solid black;
    color: rgb(0, 0, 0);

}