.navi {
    background-color: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;

}
.navbar-nav {
    margin-left: auto;
    color: rgb(0, 0, 0) ;
}
.bar {
    color: rgb(0, 0, 0);
    margin: 0 20px;
    font-size: 15px;
    text-decoration: none;
}
.navbar-brand {
    font-weight: 500;
    font-size: 25px;
}
button {
    margin: 0 20px;
    font-size: 18px;
    border-radius: 6px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-style: none;
}
button:hover{
    
    transition: 0.5s;
    color: rgb(0, 0, 0);
    }
@media(max-width:768px){
    button {
        color: rgb(0, 0, 0);
        margin: 10px 10px 20px 0;
        font-size: 16px !important;
        text-decoration: none;
        text-transform: capitalize;
    }
    .nav-item:hover {
        background-color: rgb(219, 219, 219);
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    a .navbar-brand {
        font-size: 22px !important;
    }
    

}
.navbar-toggler-icons {
    background-image: none;
  }


  .navbar-toggler-icons  img {
      width: 20px;
      margin-top: 13px;
      padding: 0;
  }

